.groups-container {
    height: 65vh;
    overflow-y: auto;
}

.groups-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    gap: 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.group-grid-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    height: 20vh;
    background-color: #fff;
}

.group-grid-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.group-users-icons {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: repeat(2, 30px);
    gap: 5px;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    height: 12vh;
    background-color: #fff;
}

.group-list-item-info {
    display: flex;
    flex-direction: column;
}