<div class="groups-header">
  <span
    class="icon-button"
    [class.active]="view === 'grid'"
    [attr.aria-pressed]="view === 'grid'"
    role="button"
    tabindex="0"
    (click)="changeView('grid')"
  >
    <img src="images/icons/grid.svg" width="24" height="24" alt="Grid View" />
  </span>
  <span
    class="icon-button"
    [class.active]="view === 'list'"
    [attr.aria-pressed]="view === 'list'"
    role="button"
    tabindex="0"
    (click)="changeView('list')"
  >
    <img src="images/icons/list.svg" width="24" height="24" alt="List View" />
  </span>
</div>
<section class="groups-container">
  @if (view == 'grid') {
    <section class="grid-container">
      @for (group of groups(); track $index) {
        <div class="group-grid-item border" (click)="redirectGroup(group)">
          <div class="group-grid-icons">
            <div class="group-users-icons">
              @for (user of group.users.slice(0, 4); track $index) {
                <app-profile-image-picker
                  [currentImageUrl]="user.profile_picture"
                  [onlyDisplay]="true"
                  [imgClass]="'group-user-icon'"
                >
                </app-profile-image-picker>
              }
            </div>
            <div class="group-grid-item-icon">
              <app-profile-image-picker [onlyDisplay]="true" [imgClass]="'group-item-icon'">
              </app-profile-image-picker>
            </div>
          </div>
          <p>{{ group.name }}</p>
          <p></p>
        </div>
      }
      <div class="group-grid-item border" (click)="openGroupModal()">
        <p>+</p>
      </div>
    </section>
  } @else {
    <section class="list-container">
      @for (group of groups(); track $index) {
        <div class="group-list-item border" (click)="redirectGroup(group)">
          <div class="group-users-icons">
            @for (user of group.users.slice(0, 4); track $index) {
              <app-profile-image-picker
                [currentImageUrl]="user.profile_picture"
                [onlyDisplay]="true"
                [imgClass]="'group-user-icon'"
              >
              </app-profile-image-picker>
            }
          </div>
          <div class="group-list-item-info">
            <p>{{ group.name }}</p>
            <p>last message</p>
          </div>
          <div class="group-list-item-icon">
            <app-profile-image-picker [onlyDisplay]="true" [imgClass]="'group-item-icon'">
            </app-profile-image-picker>
          </div>
        </div>
      }
      <div class="group-list-item border" (click)="openGroupModal()">
        <p>+</p>
      </div>
    </section>
  }
</section>

<app-group-modal></app-group-modal>