<section class="main-container">
  <div class="reset-container border shadow shadow-large">
    <h1>{{ 'forgotPassword.title' | translate }}</h1>
    <p>{{ 'forgotPassword.description' | translate }}</p>
    <form (submit)="onSubmit($event)">
      <label for="email">{{ 'auth.email' | translate }}</label>
      <input id="email" type="email" [formField]="forgotForm.email" />
      <button type="submit" class="paper-btn btn-block background-secondary" [disabled]="submitting()">
        {{ 'forgotPassword.send' | translate }}
      </button>
    </form>
    <div class="reset-links">
      <a routerLink="/auth">{{ 'forgotPassword.backToLogin' | translate }}</a>
    </div>
  </div>
</section>
