.group-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.group-header-title {
    display: flex;
    align-items: center;
    grid-column: 2;
}

.group-header-actions {
    display: flex;
    justify-content: flex-end;
    grid-column: 3;
    gap: 10px;
}