<section class="main-container">
  <header class="group-header">
    <div>
      <span>{{group()?.name}}</span>
    </div>
    <div>
      <div class="calendar-anchor" #calendarAnchor>
        <button (click)="showCalendar()">Show Calendar</button>
        @if (showClendarFlag()) {
          <div class="calendar-popover">
            <app-calendar [group]="group()"></app-calendar>
          </div>
        }
      </div>
      <button (click)="fetchInvitation()">{{ 'group.getGroupInvitation' | translate }}</button>
      <button (click)="openGroupOptionsModal()">Group options</button>
    </div>
  </header>
  @if (group()) {
    <app-question [group]="group()"></app-question>
  } @else {
      <p>{{ 'group.loadingGroup' | translate }}</p>
  }
</section>
<app-home-footer [(homeState)]="homeState" [redirect]="true"></app-home-footer>
<app-group-options-modal 
  [group]="group()" 
  (groupChange)="group.set($event)">
</app-group-options-modal>