@if (user) {
    <form (submit)="updateAccount($event)">
        <label>Profile Picture:</label>
        <app-profile-image-picker 
            [currentImageUrl]="userPfpUrl" 
            (fileSelected)="handleFileSelected($event)">
        </app-profile-image-picker>

        <label for="username">Username:</label>
        <input id="username" type="text" [formField]="authForm.username" />

        <label for="email">Email:</label>
        <input id="email" type="email" [formField]="authForm.email"/>

        <label for="password">New Password:</label>
        <input id="password" type="password" [formField]="authForm.password"/>

        <label for="confirmPassword">Confirm New Password:</label>
        <input id="confirmPassword" type="password" [formField]="authForm.confirmPassword"/>

        <label for="language">Language:</label>
        <select id="language" [formField]="authForm.language">
            <option value="en">English</option>
            <option value="fr">Français</option>
        </select>
        <p> date: {{ user.date_created | date }} </p>

        <button type="submit">Update Account</button>
    </form>

    <h1> DEVICES </h1>
    <button (click)="getDevices()"> Get Devices </button>
    <button (click)="logoutAllDevices()"> Logout All Devices </button>
    @if (devices()) {
        @for (device of devices(); track $index) {
            <p>Device: {{ device.device_name }}</p>
            <button (click)="revokeDevice(device.device_id)"> Revoke Device </button>
        }
    } @else {
        <p>No devices found.</p>
    }
}