@if (isOpen()) {
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog border" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">{{ config().title }}</h1>
          <span class="modal-close" (click)="discard($event)">X</span>
        </div>
        <div class="modal-body">
          <p>{{ config().description }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="background-success" (click)="save($event)">
            {{ 'modal.save' | translate }}
          </button>
          <button type="button" class="background-danger" (click)="discard($event)">
            {{ 'modal.close' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
}
