@if (isOpen()) {
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ config().title }}</h5>
          <button type="button" class="close" aria-label="Close" (click)="discard($event)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ config().description }}</p>
          <div class="group-options-container">
            <div class="group-options-form">
              <form (submit)="updateGroup($event)">
                <label for="name">{{ 'group.name' | translate }}</label>
                <input id="name" type="text" [formField]="groupForm.name" />

                <label for="description">{{ 'group.description' | translate }}</label>
                <textarea id="description" [formField]="groupForm.description"></textarea>

                <label for="daily_reset_timestamp">{{ 'group.dailyResetTime' | translate }}</label>
                <input
                  id="daily_reset_timestamp"
                  type="time"
                  [formField]="groupForm.daily_reset_timestamp"
                />
                <p>{{ 'account.dateCreated' | translate }} {{ group()?.date_created | date }}</p>

                <button type="submit" (click)="save($event)">
                  {{ 'group.updateGroup' | translate }}
                </button>
              </form>
            </div>
            <div class="group-users-list-container">
              <div class="group-users-list">
                <span>{{ 'group.users' | translate }}</span>
                @for (user of group()?.users; track user.id) {
                  <div
                    class="group-user user-profile-anchor"
                    (mouseenter)="userProfileService.show(user, tooltipScope)"
                    (mouseleave)="userProfileService.hide(tooltipScope)"
                  >
                    <span>{{ user.username }}</span>
                    <span>{{ user.role }}</span>
                    <button
                      type="button"
                      (click)="removeUser(user)"
                      [disabled]="user.role === 'admin'"
                    >
                      X
                    </button>

                    <button (click)="promoteUser(user)">Promote</button>

                    @if (userProfileService.isOpenFor(user, tooltipScope)) {
                      <div class="user-profile-popover" role="tooltip">
                        <app-user-profile [user]="user"></app-user-profile>
                      </div>
                    }
                  </div>
                }
              </div>
              <div>
                @if (connectedUser) {
                  <button
                    type="button"
                    class="leave-group-button"
                    (click)="removeUser(connectedUser)"
                    [disabled]="connectedUser.role === 'admin'"
                  >
                    {{ 'groupOptions.leaveGroup' | translate }}
                  </button>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
