@if (isOpen()) {
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog border" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">{{ config().title }}</h1>
          <span class="modal-close" (click)="discard($event)">X</span>
        </div>
        <div class="modal-body">
          <span>{{ config().description }}</span>
          <div class="group-options-container">
            <div class="group-options-form">
              <form (submit)="updateGroup($event)">
                <label for="name">{{ 'group.name' | translate }}</label>
                <input id="name" type="text" [formField]="groupForm.name" />

                <label for="description">{{ 'group.description' | translate }}</label>
                <textarea id="description" [formField]="groupForm.description"></textarea>

                <label for="daily_reset_timestamp">{{ 'group.dailyResetTime' | translate }}</label>
                <input
                  id="daily_reset_timestamp"
                  type="time"
                  [formField]="groupForm.daily_reset_timestamp"
                />
                <app-themes [(selectedThemes)]="selectedThemes"></app-themes>
                <p>{{ 'account.dateCreated' | translate }} {{ group()?.date_created | date }}</p>

                <div class="group-options-form-buttons">
                  <button type="submit" class="paper-btn btn-secondary" (click)="save($event)">
                    {{ 'group.updateGroup' | translate }}
                  </button>

                  @if (connectedUser) {
                    <button
                      type="button"
                      class="background-danger"
                      (click)="confirmRemoveUser(connectedUser)"
                      [disabled]="connectedUser.role === 'admin'"
                    >
                      {{ 'groupOptions.leaveGroup' | translate }}
                    </button>
                  }
                </div>
              </form>
            </div>
            <div class="group-users-list-container">
              <div class="group-users-list">
                <span>{{ 'group.users' | translate }}</span>
                @for (user of group()?.users; track user.id) {
                  <div
                    class="group-user user-profile-anchor border"
                    (mouseenter)="userProfileService.show(user, tooltipScope)"
                    (mouseleave)="userProfileService.hide(tooltipScope)"
                  >
                    <div class="group-user-info">
                      <app-profile-image-picker
                        [currentImageUrl]="user.profile_picture"
                        [onlyDisplay]="true"
                        [imgClass]="'group-user-icon'"
                      >
                      </app-profile-image-picker>
                      <span>{{ user.username }}</span>
                      </div>
                    <div class="group-options-form-buttons">
                      <img width="32" height="32" [src]="'images/icons/' + user.role + '.svg'"/>
                      <button
                        type="button"
                        class="background-success"
                        (click)="promoteUser(user)"
                        [disabled]="user.role === 'admin' || user.id === connectedUser?.id"
                      >
                        Promote
                      </button>
                      <button
                        type="button"
                        class="background-danger"
                        (click)="confirmRemoveUser(user)"
                        [disabled]="user.role === 'admin' || user.id === connectedUser?.id"
                      >
                        {{ 'groupOptions.removeUser' | translate }}
                      </button>
                    </div>
                    @if (userProfileService.isOpenFor(user, tooltipScope)) {
                      <div class="user-profile-popover" role="tooltip">
                        <app-user-profile [user]="user"></app-user-profile>
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modal [id]="removeUserConfirmId"></app-modal>
}