<div class="user-profile-container">
    <app-profile-image-picker
        [currentImageUrl]="user()?.profile_picture"
        [onlyDisplay]="true"
        [imgClass]="'group-user-icon'"
    ></app-profile-image-picker>
    <p>{{ user()?.username }}</p>

    <div class="items-container">
    @for (item of user()?.items; track $index) {
        <app-item-image-display [itemName]="item.item_name" [imgClass]="'user-profile-item-icon'"></app-item-image-display>
        -
        <span>{{ item.streak }}</span>
    }
    </div>

    <p>{{ user()?.date_created }}</p>
</div>