.profile-image-picker {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.profile-image-picker img {
  border-radius: 8px;
  object-fit: cover;
  background-color: #f0f0f0;
}

.group-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
