<div>
  @if (isAuthenticated) {
  <p>You are logged in!</p>
  <button (click)="logout()"> Logout </button>
  } @else {
  <button (click)="setDisplayMode('register')"> Register </button>
  <br>
  <button (click)="setDisplayMode('login')"> Login </button>
  }
</div>

@if (!isAuthenticated) {
  @if (displayMode() === 'register') {
  <div>
    <form (submit)="onSubmit($event, 'register')">
      <label for="username">Username:</label>
      <input id="username" type="text" [formField]="authForm.username" />

      <label for="email">Email:</label>
      <input id="email" type="email" [formField]="authForm.email" />

      <label for="password">Password:</label>
      <input id="password" type="password" [formField]="authForm.password" />

      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" type="password" [formField]="authForm.confirmPassword" />

      <label>Profile Picture:</label>
      <app-profile-image-picker (fileSelected)="handleFileSelected($event)"></app-profile-image-picker>

      <label for="login"> Login:</label>
      <input id="login" type="checkbox" [formField]="authForm.login" />

      <button type="submit">Register</button>
    </form>
  </div> }
  @else if (displayMode() === 'login') {
    <div>
    <form (submit)="onSubmit($event, 'login')">
      <label for="username">Username or Email:</label>
      <input id="username" type="text" [formField]="authForm.username" />
      <label for="password">Password:</label>
      <input id="password" type="password" [formField]="authForm.password" />
      <input type="checkbox" id="remember" [formField]="authForm.remember">
      <label for="remember">Remember Me</label>
      <button type="submit">Login</button>
    </form>
    </div>
    <app-google-login></app-google-login>

    <label for="deviceVerification">Verify Device please enter code:</label>
    <input id="deviceVerification" type="text" #deviceVerification/>
    <button (click)="verifyDevice(deviceVerification.value)">Verify Device</button>
  }
}