<form (submit)="updateGroup($event)">

    <label for="name">Name:</label>
    <input id="name" type="text" [formField]="groupForm.name"/>

    <label for="description">Description:</label>
    <textarea id="description" [formField]="groupForm.description"></textarea>

    <label for="daily_reset_timestamp">Daily Reset Time:</label>
    <input id="daily_reset_timestamp" type="time" [formField]="groupForm.daily_reset_timestamp"/>
    <p> date: {{ group()?.date_created | date }} </p>

    <button type="submit">Update Group</button>
</form>

@for (user of group()?.users; track $index) {
    <div>
        <span>{{ user.username }}</span>
        <button type="button" (click)="removeUser(user)">X</button>
    </div>
}