<form (submit)="updateGroup($event)">

    <label for="name">{{ 'group.name' | translate }}</label>
    <input id="name" type="text" [formField]="groupForm.name"/>

    <label for="description">{{ 'group.description' | translate }}</label>
    <textarea id="description" [formField]="groupForm.description"></textarea>

    <label for="daily_reset_timestamp">{{ 'group.dailyResetTime' | translate }}</label>
    <input id="daily_reset_timestamp" type="time" [formField]="groupForm.daily_reset_timestamp"/>
    <p> {{ 'account.dateCreated' | translate }} {{ group()?.date_created | date }} </p>

    <button type="submit">{{ 'group.updateGroup' | translate }}</button>
</form>

@for (user of group()?.users; track $index) {
    <div>
        <span>{{ user.username }}</span>
        <button type="button" (click)="removeUser(user)">X</button>
    </div>
}