<section class="main-container">
  <div class="question-container">
    <div class="question-content">
      <span>{{ question()?.content }}</span>
      <app-item-image-display [itemName]="question()?.item_name" [imgClass]="'group-question-item'"></app-item-image-display>
    </div>
    <div class="calendar-anchor" #calendarAnchor>
      <span class="icon-button" role="button" tabindex="0" (click)="showCalendar()" title="{{ 'group.calendar' | translate }}">
        <img src="images/icons/calendar.svg" width="36" height="36" alt="List View" />
      </span>
      @if (showCalendarFlag()) {
        <div class="calendar-popover" role="tooltip">
          <app-calendar [group]="group()" [(question)]="question" (showCurrent)="showCurrentQuestion()"></app-calendar>
        </div>
      }
    </div>
  </div>
  @if (question()?.votes?.length) {
    <div class="question-votes-and-chat-container">
      <section class="question-votes-container">
        @if (question()?.canWrite) {
          <div class="written-answers-container">
            @for (vote of question()?.votes; track $index) {
              @if (vote.writtenAnswer) {
                <p>{{ vote.writtenAnswer }} - {{ vote.voterUser.username }}</p>
              } @else {}
            }
          </div>
        } @else {
          <app-vote-bubbles [bubbles]="voteBubbles" phase="results" />
        }
      </section>
      <section>
        <app-chat [group]="group()" [question]="question()" [readOnly]="isPastQuestion()"></app-chat>
      </section>
    </div>
  } @else {
    @if (question()?.canWrite) {
      <div class="answer-container">
        <div class="answer-input-container">
          <input type="text" [placeholder]="'question.enterYourAnswer' | translate" #answerInput />
        </div>
        <div class="submit-vote-container">
          <button type="button" class="background-success" (click)="submitVote(usersId, answerInput.value)">
            {{ 'question.submitAnswer' | translate }}
          </button>
        </div>
      </div>
    } @else {
      <app-vote-bubbles
        class="vote-bubbles-voting"
        [bubbles]="votingBubbles()"
        phase="voting"
        [multiple]="!!question()?.enableMultipleVoting"
        (voted)="submitVote($event)"
      />
    }
  }
</section>