.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.question-container span {
  font-size: 2rem;
  font-weight: bold;
}

.user-vote-container {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.vote-container {
  height: 55vh;
}

.answer-input-container {
  display: flex;
  margin: 100px;
  justify-content: center;
}

.submit-vote-container {
  display: flex;
  justify-content: center;
}
