<p>suggestion.component works!</p>
<div>
    <label for="theme">{{ 'feedback.theme' | translate }}</label>
    <select id="theme" #theme>
        <option>{{ 'feedback.themeOptions.party' | translate }}</option>
        <option>{{ 'feedback.themeOptions.spicy' | translate }}</option>
        <option>{{ 'feedback.themeOptions.family' | translate }}</option>
        <option>{{ 'feedback.themeOptions.popCulture' | translate }}</option>
        <option>{{ 'feedback.themeOptions.other' | translate }}</option>
    </select>

    <label for="question">{{ 'feedback.question' | translate }}</label>
    <textarea id="question" #question></textarea>

    <button (click)="submitSuggestion(theme.value, question.value)">{{ 'feedback.submitSuggestion' | translate }}</button>
</div>