.home-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-footer .icon-button {
    display: inline-flex;
    padding-bottom: 4.5px;
    border-bottom: 1.5px solid transparent;
}

.home-footer .icon-button.active {
    border-bottom-color: var(--secondary-light-10);
}
