<footer class="home-footer">
  <span    
    class="icon-button"
    [class.active]="homeState() === 'groups' || homeState() === 'group'"
    [attr.aria-pressed]="homeState() === 'groups'|| homeState() === 'group'"
    role="button"
    tabindex="0"
    (click)="changeHomeState('groups')"
    title="{{ 'group.home' | translate }}"
  >
    <img src="images/icons/home.svg" width="32" height="32" alt="Groups" />
  </span>
  <span
    class="icon-button"
    [class.active]="homeState() === 'account'"
    [attr.aria-pressed]="homeState() === 'account'"
    role="button"
    tabindex="0"
    (click)="changeHomeState('account')"
    title="{{ 'group.account' | translate }}"
  >
    <img src="images/icons/account.svg" width="32" height="32" alt="Account" />
  </span>
</footer>
