<footer class="home-footer">
  <span    
    class="icon-button"
    [class.active]="homeState() === 'groups'"
    [attr.aria-pressed]="homeState() === 'groups'"
    role="button"
    tabindex="0"
    (click)="changeHomeState('groups')"
  >
    <img src="images/icons/home.svg" width="24" height="24" alt="Groups" />
  </span>
  <span
    class="icon-button"
    [class.active]="homeState() === 'account'"
    [attr.aria-pressed]="homeState() === 'account'"
    role="button"
    tabindex="0"
    (click)="changeHomeState('account')"
  >
    <img src="images/icons/account.svg" width="24" height="24" alt="Account" />
  </span>
</footer>
